<module :title="<%=page.title%> · Amaple">
	<template>
		<div><%-page.content %></div>
		<div id="page-nav">
			<a class="title-color nav next" href="{{ next.path }}" :if="next.title">
				<img src="/images/arrow.png">
				<span class="title-color">{{ next.title }}</span>
			</a>
			<a class="nav prev" href="{{ prev.path }}" :if="prev.title">
				<span class="title-color">{{ prev.title }}</span>
				<img src="/images/arrow.png">
			</a>
		</div>
	</template>
	<script>
		function scrollAnchor ( anchor, scrollTo ) {
			var anchorElem = document.querySelector ( "#" + window.decodeURI ( anchor ) );
			if ( anchorElem ) {
				scrollTo ( anchorElem.offsetTop - 10 );
			}
		}

		new am.Module ( {
			init: function ( menu, checkPost ) {
				var list = <%-tocToArray ( toc ( page.content, { class: "am", list_number: false } ) ) %>,
					posts = <%-getPostsByCategory ( site.posts, page.title, page.categories.data [ 0 ].name, transformLink, config.permalink ) %>;

				menu.state.list = list.length > 0 ? list : [ { children: [] } ];
				menu.state.posts = posts;
				menu.state.categoryName = "<%-page.categories.data [ 0 ].name %>";

				return {
					prev: checkPost ( {
						title: "<%-(page.prev || {}).title %>",
						path: "<%-transformLink ( (page.prev || {}).path || '', config.permalink ) %>"
					}, posts ),
					next: checkPost ( {
						title: "<%-(page.next || {}).title %>",
						path: "<%-transformLink ( (page.next || {}).path || '', config.permalink ) %>"
					}, posts )
				};
			},
			mounted: function ( scrollTo ) {
				scrollAnchor ( this.get.target, scrollTo );
			},
			queryUpdated: function ( scrollTo ) {
				scrollAnchor ( this.get.target, scrollTo );
			}
		} );
	</script>

	<style scoped>
		#page-nav {
			margin-top: 60px;
		}
		.nav {
			font-size: 16px;
			border: none;
		}
		.nav:hover {
			border: none;
		}
		.nav img {
			width: 18px;
			margin: 0 5px;
			vertical-align: middle;
		}
		.prev {
			float: right;
		}
		.next {
			float: left;
		}
		.next img {
			transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);;
			-o-transform: rotate(180deg);
		}
	</style>
</module>