<module :title="<%=page.title%> · Amaple">
	<template>
		<%-page.content %>
		<div id="page-nav">
			<a class="nav prev" href="{{ prev.path }}" :if="prev.title">
				<img src="/images/arrow.png">
				<span class="title-color">{{ prev.title }}</span>
			</a>
			<a class="title-color nav next" href="{{ next.path }}" :if="next.title">
				<span class="title-color">{{ next.title }}</span>
				<img src="/images/arrow.png">
			</a>
		</div>
	</template>
	<script>
		new am.Module ( {
			init: function ( event ) {
				event.emit ( "deliverToc", 
					<%-tocToArray ( toc ( page.content, { class: "am", list_number: false } ) ) %>,
					<%-getPostsByCategory ( site.posts, page.categories.data [ 0 ].name, transformLink, config.permalink ) %>,
					"<%-page.categories.data [ 0 ].name %>"
				);

				return {
					prev: {
						title: "<%-(page.prev || {}).title %>",
						path: "<%-transformLink ( (page.prev || {}).path || '', config.permalink ) %>"
					},
					next: {
						title: "<%-(page.next || {}).title %>",
						path: "<%-transformLink ( (page.next || {}).path || '', config.permalink ) %>"
					}
				};
			}
		} );
	</script>

	<style scoped>
		#page-nav {
			margin-top: 60px;
		}
		.nav {
			font-size: 16px;
		}
		.nav img {
			width: 18px;
			margin: 0 5px;
			vertical-align: middle;
		}
		.prev {
			float: left;
		}
		.prev img {
			transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);;
			-o-transform: rotate(180deg);
		}
		.next {
			float: right;
		}
	</style>
</module>